@charset "ISO-8859-1";

.candidate_body
{
	background-color: #D0D3D4;
}
#heading
{
	color:white;
	position:absolute;
	top:5px;
	left:5px;
	font-family:times new roman;
}
.login{
	background-color: #D0D3D4;
}

#loginHeading {
	position : absolute;
	left: 10px;
	top: 55px;
	font-family:times new roman;
}
.active{
 background: darkgray;
}
.messageDiv{
	position: absolute;
left: 34%;
background: red;
top: 10%;
font-size: x-large;
}